html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #f5f7f9;
  min-width: 300px;
  text-rendering: optimizeLegibility;
}

body {
  background: none;
  color: #69707a;
  font-family: "Open Sans", Arial, sans-serif;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

strong {
  color: #222324;
}

.navbar {
  background: #e16879;
  border-radius: 0;
  margin-bottom: 30px;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

/* Profile */

.jumbotron {
  background-color: #222324;
  background-image: url("grumpy-with-glasses.jpg");
  background-size: cover;
  color: white;
  display: table;
  height: 100vh;
  margin: 0;
  width: 100%;
}

.jumbotron .container {
  display: table-cell;
  vertical-align: middle;
}

.jumbotron .btn {
  margin-top: 20px;
}

/* Contact */

.alert {
  display: none;
  margin-top: 1rem;
}

.alert strong {
  color: inherit;
}

.card {
  border-color: #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .05)
}

.card-title {
  color: #e16879;
  font-weight: 300;
}

.card-block small {
  float: right;
}

textarea.form-control {
  min-height: 120px;
}

.description {
  background-image: url("pattern.png");
  background-repeat: repeat-x;
}

.description img {
  margin-bottom: 1rem;
  width: 100px;
}

.description .card-footer a {
  color: #69707a;
  font-size: 21px;
  margin: 0 5px;
}

.description .card-footer a:hover {
  color: #e16879;
}

.information p {
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 22px;
  position: relative;
}

.information .fa {
  font-size: 14px;
  left: 0;
  line-height: 21px;
  margin-bottom: 5px;
  opacity: .5;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 16px;
}

.skills {
  color: #222324;
  font-size: 14px;
  font-weight: bold;
}

.skills progress {
  border-radius: 5px;
  height: 10px;
}

/*Deprecated*/

.comment {
  border-top: 1px solid #ebeff5;
  padding-top: 1rem;
}

.comment small {
  color: #aeb1b5;
}

.instagram {
  padding: 0 15px 15px;
}

.instagram .col-xs-6 {
  padding: 0;
}

.instagram img {
  height: auto;
  max-width: 100%;
}

@media (min-width: 75em) {
  .instagram {
    padding-left: 14px;
  }
}
